// Define manifest information
manifest {
    description = 'pl-cyp2c19'
    author = 'rtriwijaya'
}

// Docker settings
docker {
    enabled = true // Enable Docker usage in Nextflow
    runOptions = runOptions = "--user $(id -u):$(id -g)"
}

//Process configuration
process {
    withName: alignmentProcess {
        container = 'niemasd/minimap2_samtools:2.28_1.20'
    }
    withName: index {
        container = 'quay.io/biocontainers/samtools:1.20--h50ea8bc_0'
    }
    withName: variantCalling {
        container = 'hkubal/clair3:latest'
    }
    withName: liftoverToHg38 {
        container = 'quay.io/biocontainers/samtools:1.20--h50ea8bc_0'
    }
    withName: calculating_bamCoverage {
        container = 'quay.io/biocontainers/bedtools:2.31.1--hf5e1c6e_0'
    }
    withName: creating_igvReport {
        container = 'quay.io/biocontainers/igv-reports:1.12.0--pyh7cba7a3_0'
    }
    // Specific process using a different Docker image
    withName: running_pharmcat {
        container = 'pgkb/pharmcat:latest'
    }
}

// process.container='pl-cyp2c19-image:latest'

// //Process configuration
// process {
//     withName: alignmentProcess {
//         container = 'pl-cyp2c19-image:latest'
//     }
//     withName: index {
//         container = 'pl-cyp2c19-image:latest'
//     }
//     withName: variantCalling {
//         container = 'pl-cyp2c19-image:latest'
//     }
//     withName: liftoverToHg38 {
//         container = 'pl-cyp2c19-image:latest'
//     }
//     withName: calculating_bamCoverage {
//         container = 'pl-cyp2c19-image:latest'
//     }
//     withName: creating_igvReport {
//         container = 'pl-cyp2c19-image:latest'
//     }
//     // Specific process using a different Docker image
//     withName: running_pharmcat {
//         container = 'pgkb/pharmcat:latest'
//     }
// }

// process.container='pl-cyp2c19-image:latest'
