// Define manifest information
manifest {
    description = 'pl-cyp2c19'
    author = 'rtriwijaya'
}

// Docker settings
docker {
    enabled = true // Enable Docker usage in Nextflow
}

//Process configuration
process {
    withName: alignmentProcess {
        container = 'pl-cyp2c19-image:latest'
    }
    withName: index {
        container = 'pl-cyp2c19-image:latest'
    }
    withName: variantCalling {
        container = 'pl-cyp2c19-image:latest'
    }
    withName: liftoverToHg38 {
        container = 'pl-cyp2c19-image:latest'
    }
    withName: calculating_bamCoverage {
        container = 'pl-cyp2c19-image:latest'
    }
    withName: creating_igvReport {
        container = 'pl-cyp2c19-image:latest'
    }
    // Specific process using a different Docker image
    withName: running_pharmcat {
        container = 'pgkb/pharmcat:latest'
    }
}

// process.container='pl-cyp2c19-image:latest'
